<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>UsuariosController</servlet-name>
        <servlet-class>com.twg.controladores.UsuariosController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InicioSesionController</servlet-name>
        <servlet-class>com.twg.controladores.InicioSesionController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PaginaInicioController</servlet-name>
        <servlet-class>com.twg.controladores.PaginaInicioController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PersonasController</servlet-name>
        <servlet-class>com.twg.controladores.PersonasController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PermisosController</servlet-name>
        <servlet-class>com.twg.controladores.PermisosController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UsuariosController</servlet-name>
        <url-pattern>/UsuariosController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InicioSesionController</servlet-name>
        <url-pattern>/InicioSesionController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PaginaInicioController</servlet-name>
        <url-pattern>/PaginaInicioController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PersonasController</servlet-name>
        <url-pattern>/PersonasController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PermisosController</servlet-name>
        <url-pattern>/PermisosController</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>jsp/inicioSesion.jsp</welcome-file>
    </welcome-file-list>
</web-app>
