<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <filter>
        <filter-name>FiltroSesion</filter-name>
        <filter-class>com.twg.utilidades.FiltroSesion</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>FiltroSesion</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <servlet>
        <servlet-name>UsuariosController</servlet-name>
        <servlet-class>com.twg.controladores.UsuariosController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InicioSesionController</servlet-name>
        <servlet-class>com.twg.controladores.InicioSesionController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PaginaInicioController</servlet-name>
        <servlet-class>com.twg.controladores.PaginaInicioController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PersonasController</servlet-name>
        <servlet-class>com.twg.controladores.PersonasController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CargosController</servlet-name>
        <servlet-class>com.twg.controladores.CargosController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EstadosController</servlet-name>
        <servlet-class>com.twg.controladores.EstadosController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PermisosController</servlet-name>
        <servlet-class>com.twg.controladores.PermisosController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProyectosController</servlet-name>
        <servlet-class>com.twg.controladores.ProyectosController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ActividadesController</servlet-name>
        <servlet-class>com.twg.controladores.ActividadesController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CerrarSesionController</servlet-name>
        <servlet-class>com.twg.controladores.CerrarSesionController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ActividadesPorEstadoController</servlet-name>
        <servlet-class>com.twg.controladores.ActividadesPorEstadoController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ArchivosController</servlet-name>
        <servlet-class>com.twg.controladores.ArchivosController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UsuariosController</servlet-name>
        <url-pattern>/UsuariosController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InicioSesionController</servlet-name>
        <url-pattern>/InicioSesionController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PaginaInicioController</servlet-name>
        <url-pattern>/PaginaInicioController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PersonasController</servlet-name>
        <url-pattern>/PersonasController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CargosController</servlet-name>
        <url-pattern>/CargosController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EstadosController</servlet-name>
        <url-pattern>/EstadosController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PermisosController</servlet-name>
        <url-pattern>/PermisosController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProyectosController</servlet-name>
        <url-pattern>/ProyectosController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ActividadesController</servlet-name>
        <url-pattern>/ActividadesController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CerrarSesionController</servlet-name>
        <url-pattern>/CerrarSesionController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ActividadesPorEstadoController</servlet-name>
        <url-pattern>/ActividadesPorEstadoController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ArchivosController</servlet-name>
        <url-pattern>/ArchivosController</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>jsp/inicioSesion.jsp</welcome-file>
    </welcome-file-list>
</web-app>
